<div class="mt-4">
    <h3>Tạo khóa học</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <input type="text" class="form-control" id="description" name="description"
                placeholder="Nhập mô tả khóa học...">
        </div>
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Nhập tên khóa học...">
        </div>
        <div class="form-group">
            <label for="videoID">ID Video</label>
            <input type="text" class="form-control" name="videoID" id="videoID" placeholder="Nhập ID video...">
        </div>
        <div class="form-group">
            <label for="level">Trình độ</label>
            <input type="text" class="form-control" name="level" id="level" placeholder="Nhập trình độ...">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>