<div class="search_container mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="exampleInputPassword1">Tìm kiếm</label>
            <input type="text" name="q" class="form-control" id="exampleInputPassword1" placeholder="Tìm kiếm...">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Tìm kiếm</label>
            <select name="gender" class="form-control" id="exampleInputPassword1">
                <option value="">---Chọn giới tính---</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm</button>
    </form> 
</div>